# OS-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~
.project
.settings/

# Environment
.env
.env.*
!.env.example

# Go Backend
bin/
server
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
coverage.txt

# macOS Build
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcarchive

# Docker / Local Datastores
pgdata/
docker-volume/
config/nginx/certs/

# CLI
contract-cli

# Save data
data

# Electon

node_modules/
dist/
dist-electron/

# Added by code-review-graph
.code-review-graph/
.claude
.cursor
.kiro
.cursorrules
.mcp.json
.opencode.json
.windsurfrules
AGENTS.md
CLAUDE.md
GEMINI.md
.codex