# OS-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~
.project
.settings/

# Environment
.env
.env.*
!.env.example

# Go Backend
backend/bin/
backend/server
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib
backend/*.test
backend/*.out
backend/vendor/
backend/coverage.txt

# macOS Build
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcarchive

# Docker / Local Datastores
backend/pgdata/
docker-volume/
config/nginx/certs/

# CLI
contract-cli

# Save data
data

# Electon

node_modules/
dist/
dist-electron/
